@using Library.App.Extension
@model IEnumerable<Library.App.ViewModels.CompanyViewModel>

@{
    ViewData["Title"] = "Editoras Cadastradas";
}


<p>
    <a class="btn btn-info" asp-action="Create" asp-controller="Company" supress-by-claim-name="Company" supress-by-claim-value="Create">Cadastrar Editora</a>
</p>
<table class="table table-hover">
    <thead class="thead-color">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @this.FormatDocument(item.TypePerson, item.Document)
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-controller="Company" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                    <a class="btn btn-info" asp-controller="Company" asp-action="Edit" asp-route-id="@item.Id" supress-by-claim-name="Company" supress-by-claim-value="Edit"><spam class="fa fa-pencil-alt"></spam> </a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
